html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-container {
  perspective: 1000px;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.199);
  width: 400px;
  height: 600px;
  border-radius: 10px;
  transition: 0.5s;
}

.front,
.back {
  position: absolute;
  display: flex;
  justify-content: start;
  flex-direction: column;
  flex-wrap: wrap;
  backface-visibility: hidden;
  width: 100;
  height: 100;
  border-radius: 10px;
}

.front {
  background-color: rgb(31, 120, 255);
  color: white;
}

.front * {
  margin-left: 10px;
  margin-right: 10px;
}

.front p , .front h1{
  margin-top: 10px;
  margin-left: 30px;
}

.front-form {
  position: absolute;
  display: block;
  height: 100%;
  top: 25%;
  z-index: 1;
}

.front-form label,
.front-form input {
  display: block;
}

.Firstname,
.Lastname,
.Email,
.Message,
.Bottom {
  position: fixed;
}

.Lastname {
  right: 0;
}

.Firstname input,
.Lastname input {
  width: 160px;
  height: 20px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
}

.Email {
  margin-top: 60px;
}

.Email input {
  width: 345px;
  height: 20px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
}

.Message {
  margin-top: 120px;
}

.Message textarea {
  width: 345px;
  height: 100px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}

.Message .notice {
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}

.Bottom {
  margin-top: 350px;
}

.Bottom input {
  position: fixed;
  height: 15px;
  width: 15px;
  margin-left: 10px;
}

.Bottom .Policy {
  margin-left: 50px;
}

.Bottom .submit {
  position: fixed;
  border: none;
  background-color: gray;
  color: whitesmoke;
  padding: 5px;
  right: 0;
  bottom: 75px;
}


.back {
  background-color: rgb(253, 84, 54);
  color: white;
  transform: rotateY(180deg);
}

.card.flip {
  transform: rotateY(180deg);
}